body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

.navbar{
    height:5rem;
    background-color: white;
}

.navbar-nav .d-flex {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: auto; 
  }
  
  .search-inp {
    width: auto;
    font-size: 0.8 rem;
    max-width: 250px;
  }
  
  .btn-search {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0.5rem 1rem; 
    margin-left: 0.5rem; 
    font-size:1.5rem;
  }
  
 
  @media (max-width: 768px) {
    .navbar {
      background-color: #f1f1f1; 
    }
  
    .navbar-collapse {
      background-color: #f1f1f1; 
      padding: 1rem;
      border-radius: 0 0 12px 12px;
    }
  
    .navbar-nav .d-flex {
      flex-direction: column;
      align-items: flex-start; 
      width: 100%; 
    }
  
    .search-inp {
      width: 100%; 
      margin-bottom: 1rem; 
    }
  
    .btn-search {
      width: 30%; 
      padding: 1rem; 
    }
  }
  
.fa-compass{
    color: #fe424d;
    font-size:2rem;
}

.nav-link{
    color:#222222 !important;
}

.f-info-links,.f-info-socials,.f-info-brand{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-links a{
    text-decoration:none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials i{
    font-size:1.2rem;
    margin-right:.75rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color:white ;
}

/* add page */
.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}

/* edit page */
.edit-btn{
    background-color: #fe424d !important;
    border:none !important;
}

.show-img{
    height:30vh;
    padding-left: 0;
    padding-right: 0;
}

.btns{
    display: flex;
    margin-left: 20rem;
}

#map.responsive-map {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  @media (max-width: 576px) {
    #map.responsive-map {
      height: 300px;
    }
  }